.back-button {
  background-color: #f0f2f5; /* Цвет фона кнопки */
  border: 2px solid #b0b4bb; /* Цвет рамки кнопки */
  border-radius: 50%; /* Круглая форма */
  width: 50px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  background: url('../../assets/arrow.svg') no-repeat center;
  &:hover {
    background-color: #e1e5ea; /* Цвет при наведении */
  }

  &:disabled{
    opacity: 0.5;
  }

  @media screen and (max-width: 567px) {
    height: 40px;
    width: 40px;
  }
}

.arrow {
  color: #5c6678; /* Цвет стрелки */
  font-size: 18px;
}

.back-button.rotate{
  transform: rotate(180deg);
}
